@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
}

.dropdown-item:active, .dropdown-item:hover, .navbar-dark, .restocard:hover, footer {
  background-color: #00914d;
}


.dropdown-item:active, .dropdown-item:hover, .navbar-dark, .restocard:hover, footer, .aboutjumbo, .frontjumbo {
  color: white;
}

.restocard, .restosection {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.card:hover {
  box-shadow: 2px 2px lightgrey;
  border-color: grey;
}

.card-img {
  object-fit: cover;
}

.recoText, .deliverytext {
  color: green;
}

.deliverytext {
  font-size: 1.5em;
}

.recoText {
  font-size: 1.25em;
}

footer {
  font-size: 1em;
}

.about-section {
  margin-left: 6%;
  margin-right: 6%;
  margin-bottom: 3%;
} 

.jumbotron{
  align-items:center;
  display:flex;
  background-size:cover;
  background-color:#898888;
}

.aboutjumbo {
  height:500px;
  background-image:url('/img/local.jpg');
  text-shadow: 4px 5px green;
}

.spacer {
  margin-right: 1%; 
  margin-top: 1%;
}
.display-1 {
  font-weight:900; 
}

footer {
  padding-top: 1em;
  padding-bottom: 0.5em;
}

.recotext, .jumbotron, footer, header {
  text-align: center;
}

/* Animation set */
.restocard:nth-child(2) {
  animation-delay: 0.15s;
}

.restocard:nth-child(3) {
  animation-delay: 0.3s;
}

.restocard:nth-child(4) {
  animation-delay: 0.45s;
}

.restocard:nth-child(5) {
  animation-delay: 0.6s;
}

.restocard:nth-child(6) {
  animation-delay: 0.75s;
}


@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 320px) {
  .restocard, .alertSpacer {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
  }

  .bigSpinner {
    width:150px;
    height:150px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 32.5%;
    margin-right: auto;
    z-index: 1031; /* High z-index so it is on top of the page */
  }

  .alertSpacer {
    width: 90%;
  }

  .card-img {
    height: 45vw;
  }

  .restosection {
    width: 85%;
    margin-left: 7.5%;
    margin-right: 7.5%;
    margin-bottom: 3%;
    margin-top: 3%;
  } 

  .frontjumbo {
    height: 700px; 
    background-image:url('/img/splashcover.png');
    border-radius: 0;
    margin-bottom: 0;
  }
}

/* Medium devices (laptops, 720px and up) */
@media (min-width: 720px) {
  .restocard, .alertSpacer {
    margin-left: 2%;
    margin-right: 2%;
  }
  .card-img {
      height: 25vw;
  }
  .restosection, .alertSpacer {
    margin-top: 1%;
  }
  .frontjumbo {
    height: 800px;
  }

  .bigSpinner {
    margin-left: 45%;
  }
}

/* Medium devices (desktops, 1080px and up) */
@media (min-width: 1000px) {
  .restocard, .alertSpacer {
    width: 95%;
    margin-top: 1.1%;
  }
  .card-img {
      height: 13vw;
  }
}